<div class="search-container">
  <h2>Find Book Exchange Partners</h2>

  <div class="filters">
    <input [(ngModel)]="title" placeholder="Search by book title" name="title"/>
    <input [(ngModel)]="author" placeholder="Author" name="author" />
    <input [(ngModel)]="genre" placeholder="Genre" name="genre"/>

    <select [(ngModel)]="exchange_type" name="exchange_type">
      <option value="">All types</option>
      <option *ngFor="let type of exchangeOptions" [value]="type">{{ type }}</option>
    </select>

    <button (click)="search()">Search</button>
  </div>

  <div class="results">
    <div *ngFor="let user of users" class="user-card">
      <img class="user_image" *ngIf="user.user_image" [src]="" alt="User Image" />
      
      <div>
        <h5>{{ user.username }} has</h5>
        <img class="book_image" *ngIf="user.book_image" [src]="'http://localhost:8000' + user.book_image" alt="">
        <h3><b>Book:</b> {{ user.title }} </h3>
        <!-- <p><b>mail:</b> {{ user.email }}</p> -->
        
        <p><b>Author:</b> {{ user.author }}</p>
        <p><b>Genre:</b> {{ user.genre }}</p>
        <p><b>Type:</b> {{ user.availability }}</p>
        <p><b>Condition:</b> {{ user.condition }}</p>
        <!-- <p><b>Description:</b> {{ user.description }}</p> -->
        <p><b>Created at: </b> {{ user.created_at | date:'short'}}</p>
      </div>
    </div>
  </div>
</div>
