version: '3.8'

include:
  - path: ./back1/docker-compose.yml


services:
  backend: 
    build:
      context: ./backend
      dockerfile: Dockerfile
    container_name: backend
    env_file:
      - ../.env
    depends_on:
      # db:
      #   condition: service_healthy
      redis: 
        condition: service_started
      elastic-search:
        condition: service_started

      zookeeper:
        condition: service_started
      kafka:
        condition: service_started

    ports: 
      - "8000:7100"
    environment:
      - REDIS_HOST=redis
      - ELASTICSEARCH_HOST=elastic-search
      - KAFKA_BOOTSTRAP_SERVERS=kafka:29092
      - DJANGO_SETTINGS_MODULE=book_exchange.settings.development
      
  frontend:
    build: 
      context: ./frontend
      dockerfile: Dockerfile
    container_name: frontend
    ports: 
      - "4200:80"
    depends_on:
      - backend
