services: 
  elastic-search:
    image: docker.elastic.co/elasticsearch/elasticsearch:9.1.5-amd64
    volumes:
      - esdata01:/usr/share/elasticsearch/data
    ports:
      - 9200:9200
    environment:
      - discovery.type=single-node
      - xpack.security.enabled=false
  redis:
    image: redis:8.4-rc1-alpine3.22
    container_name: redis1
    ports:
      - "6379:6379"
    command: ["redis-server", "--appendonly", "yes"]
    volumes:
      - redis_data:/data
    restart: unless-stopped 
    
volumes:
  esdata01:
  redis_data: