<!-- <app-header
(toggleLogin) = "onToggleLogin($event)"
(toggleReg)="onToggleReg($event)"
>
  
</app-header>
<app-hero></app-hero>
<app-features></app-features>
<app-books>
</app-books>

<app-login *ngIf="this.showLogin" (toggleReg)="onToggleReg($event)" (toggleLogin)="LoginDisable($event)"></app-login>
<app-register *ngIf="this.showReg" (toggleLogin)="onToggleLogin($event)"></app-register>
<app-footer></app-footer>
-->

<app-header
(toggleLogin) = "onToggleLogin($event)"
(toggleReg)="onToggleReg($event)"
>
</app-header>
<router-outlet></router-outlet> 


<!-- <app-login *ngIf="this.showLogin" (toggleReg)="onToggleReg($event)" (toggleLogin)="LoginDisable($event)"></app-login>
<app-register *ngIf="this.showReg" (toggleLogin)="onToggleLogin($event)"></app-register> -->
<app-footer></app-footer>